{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Институт региональных экономических исследований</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page_style.css' %}">
    <script>
        function updateTime() {
            fetch('/get_time_data/')
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.current_date').innerText = data.current_date;
                    document.querySelector('.current_day').innerText = data.current_day;
                    document.querySelector('.current_time').innerText = data.current_time;
                });
        }

        setInterval(updateTime, 1000); // Обновление каждую минуту
        window.onload = updateTime; // Обновление при загрузке страницы
    </script>
    <style></style>
</head>
<body>
    <header>
        {% block header %}
        <div class="container">
            <div class="main-banner">
                <div class="logo--wrap">
                    <!-- #780121 color of logo -->
                    <a href="{% url 'main_page' %}" class="logo">
                        <img src="{% static 'img_logo_2.png' %}" alt="Логотип" class="image_logo">
                        <div class="text_logo">
                            <div class="title_logo">Институт региональных<br>экономических исследований</div>
                        </div>
                    </a>
                </div>

                <div class="info_date">
                    <div class="current_date">{{ current_date }}</div>
                    <div class="current_day">{{ current_day }}</div>
                </div>
                
                <div class="frame_time">
                    <div class="current_time">{{ current_time }}</div>
                </div>
                    
            </div>
        </div>

        <div class="nav-menu">
            <div class="container">
                <ul class="nav-menu_list">
                    <li class="nav-menu_item">
                        <a href="#">ОБ ИНСТИТУТЕ</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">
                                        <a href="{% url 'main_page' %}">История института</a>
                                    </li>
                                    <li class="nav-menu_dropdown-item">Руководство</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">НАУЧНАЯ ДЕЯТЕЛЬНОСТЬ</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">Исследования</li>
                                    <li class="nav-menu_dropdown-item">Монографии</li>
                                    <li class="nav-menu_dropdown-item">Актуальные публикации</li>
                                    <li class="nav-menu_dropdown-item">Научные сборники</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">ДИССЕРТАЦИОННЫЙ СОВЕТ</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">Нормативные документы ВАК</li>
                                    <li class="nav-menu_dropdown-item">Объявления о защитах</li>
                                    <li class="nav-menu_dropdown-item">Диссертации</li>
                                    <li class="nav-menu_dropdown-item">Диссертационный совет</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">АСПИРАНТУРА</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">Об аспирантуре</li>
                                    <li class="nav-menu_dropdown-item">Для поступающих</li>
                                    <li class="nav-menu_dropdown-item">Для аспирантов</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">СЕРТИФИКАЦИЯ</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">Техническое регулирование</li>
                                    <li class="nav-menu_dropdown-item">Стандартизация(ТК_346)</li>
                                    <li class="nav-menu_dropdown-item">Сертификация</li>
                                    <li class="nav-menu_dropdown-item">Организация работ</li>
                                    <li class="nav-menu_dropdown-item">Контактная информация</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">ЦЕЛЕВОЙ ИНСТРУКТАЖ</a>
                        <div class="nav-menu_dropdown-container">
                            <div class="container">
                                <ul class="nav-menu_dropdown-list">
                                    <li class="nav-menu_dropdown-item">Партнерство с МУМЦФМ</li>
                                    <li class="nav-menu_dropdown-item">Инструтаж по ПОД/ФТ</li>
                                    <li class="nav-menu_dropdown-item">Формы обучения</li>
                                    <li class="nav-menu_dropdown-item">Программа обучения</li>
                                    <li class="nav-menu_dropdown-item">Консультации</li>
                                    <li class="nav-menu_dropdown-item">Заявка и договор</li>
                                </ul>
                            </div> 
                        </div>
                    </li>
                    <li class="nav-menu_item">
                        <a href="#">КОНТАКТЫ</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </header>

    <main>
        <div class="main-body">
            <div class="container">
                {% block content %}
                <!-- Main content goes here -->
                {% endblock %}
            </div>
        </div>
    </main>

    <footer>
        {% block footer %}
        <div class="main-footer">
            <div class="container">
                <div class="nav-footer">
                    <label class="nav-footer_links-title">Основные разделы сайта</label>
                    <div class="nav-footer_links">
                        <div class="nav-footer_columns">
                            <ul class="nav-footer_column">
                                <li class="nav-footer_column-item">
                                    <a href="#">ОБ ИНСТИТУТЕ</a>
                                </li>
                                <li class="nav-footer_column-item">
                                    <a href="#">НАУЧНАЯ ДЕЯТЕЛЬНОСТЬ</a>
                                </li>
                                <li class="nav-footer_column-item">
                                    <a href="#">ДИССЕРТАЦИОННЫЙ СОВЕТ</a>
                                </li>
                                <li class="nav-footer_column-item">
                                    <a href="#">АСПИРАНТУРА</a>
                                </li>
                            </ul>
        
                            <ul class="nav-footer_column">
                                <li class="nav-footer_column-item">
                                    <a href="#">СЕРТИФИКАЦИЯ</a>
                                </li>
                                <li class="nav-footer_column-item">
                                    <a href="#">ЦЕЛЕВОЙ ИНСТРУКТАЖ</a>
                                </li>
                                <li class="nav-footer_column-item">
                                    <a href="#">КОНТАКТЫ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer_contact-info">
                    <label class="footer_links-title">Контакты</label>

                    <div class="footer_contact-column">
                        <div class="footer_contact-item">г. Москва, тел.: (495) 547-51-51</div>
                        <div class="footer_contact-item">Email: info@rosstat.gov.ru</div>
                    </div>

                    <div class="footer_contact-column">
                        <div class="footer_contact-item">г. Москва, тел.: (495) 547-51-51</div>
                        <div class="footer_contact-item">Email: info@rosstat.gov.ru</div>
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
    
</body>
</html>