{% extends 'base_generic.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="main-info">
    <h1>История ИРЭИ</h1>
    <p>Институт региональных экономических исследований (ИРЭИ) начал свою деятельность в 1997 году как научный преемник организаций,  в течение двадцати лет занимавшихся разработкой проблем социально-экономического развития Москвы, а также других крупнейших городов и регионов страны.


        В 1979 г. в связи с расширением функций Мосгорисполкома и его плановых органов, распространением сферы их ответственности на руководство всем экономическим комплексом столицы, а не только городским хозяйством, был создан Институт экономических проблем комплексного развития народного хозяйства Москвы (ИЭП Москвы). Институт на протяжении многих лет проводил широкий комплекс исследований по вопросам обеспечения сбалансированного развития отраслей экономики города, эффективного использования его научно-промышленного потенциала и трудовых ресурсов. ИЭП Москвы являлся головной организацией по формированию и реализации крупномасштабных городских программ - "Прогресс-95”; ЦКП “Труд”; КП “НТП”; ЦКП развития промышленности Москвы; ЦКП специализации и развития межотраслевых производств на предприятиях, расположенных в Москве и Московской области; Комплексная программа развития производства товаров народного потребления и сферы услуг.
        
         
        
        На базе коллектива ИЭП Москвы сформировалась самостоятельная научная школа специалистов по региональной экономике, внесшая заметный вклад в решение проблем социально-экономического развития Москвы и ряда других регионов СССР. Во главе этой школы стояли: д.э.н., проф. Битунов В.В., д.э.н., проф., академик РАЕН Шульга В.А., д.э.н., проф. Бялковская В.С., д.э.н., проф. Самборский Г.И., д.э.н., проф. Маниловский Р.Г., д.э.н., проф. Сегединов А.А., д.э.н., проф. Лексин В.Н., д.э.н. Крюков В.П., к.э.н. Беккер В.Я., к.э.н. Гончар Н.Н., к.э.н. Климович М.В., к.э.н. Юлкина Л.С., д.э.н., проф. Бурак П.И., д.э.н., проф. Кириллова А.Н.
        
         
        
        С началом радикальных экономических преобразований в российской экономике, переходом на рыночные методы хозяйствования, для решения новых задач реформирования экономики столицы в 1990 г. ИЭП был преобразован в Институт экономики и управления, а затем в Центр социально-экономических исследований и информации при Правительстве Москвы (ЦСЭИ). В 1991-1998 гг. специалисты ЦСЭИ провели широкий комплекс исследований по научно-методическому обеспечению процессов реформирования экономики Москвы, в том числе механизмов социальной защиты населения в переходный период, проведения приватизации в различных отраслях экономики города, развития финансового рынка и банковской системы столицы, адаптации отраслей социального комплекса к рыночным условиям, реформирования жилищно-коммунального хозяйства и приватизации жилья. 
        
         
        
        В настоящее время Институт региональных экономических исследований является независимой научно-исследовательской организацией, занимающейся разработкой проблем социально-экономического развития Москвы, а также других крупнейших городов и регионов страны.
        
        
        За период 2000-2010 гг. Институтом выполнено значительное число научных разработок для Министерства образования  и науки РФ, администраций регионов страны (Республика Хакасия, Ямало-Ненецкий АО, Челябинская область). Специалисты Института принимали участие в реализации целого ряда международных проектов – программа «ТАСИС», программа «КЕССЕ» Совета Европы, программа Всемирного банка «Реформирование системы образования в РФ», проект «ЕВРОГРАД».
        
        
        В Москве по заказам Департамента экономической политики и развития города Москвы, Департамента науки и промышленной политики города Москвы, Департамента имущества города Москвы, Московской Городской Думы, Комитета межрегиональных связей и национальной политики города Москвы, Контрольно-счетной палаты города Москвы, специалистами Института выполнено большое количество научно-исследовательских работ, подготовлены проекты ряда законов города Москвы, распоряжений Правительства города.
        
        
        Сотрудники Института являлись разработчиками крупных городских целевых программ, утвержденных Правительством Москвы. В их числе: Программа прикладных научных исследований и проектов в интересах города Москвы на 2006-2008 годы, Целевая программа реорганизации производственных территорий г. Москвы на период 2004-2006 годы, Комплексная городская целевая программа развития выставочно-ярмарочной и конгрессной деятельности в городе Москве на 2007-2009 годы, Городская целевая программа «Москва многонациональная: формирование гражданской солидарности, культуры мира и согласия» на 2005-2007 годы. Институт участвовал, в качестве соисполнителя, в разработке Генеральной схемы развития и размещения промышленности и науки в городе Москве на период до 2025 гг.
        
        
        В Институте сформирована научная школа, включающая четырех академиков РАЕН, академика Российской муниципальной академии, одиннадцать докторов и девять кандидатов экономических наук. Сотрудники ИРЭИ являются членами экспертных советов Госдумы и Совета Федерации РФ, Экспертного Совета Мосгордумы по экономической политике. Ведущими специалистами института являются известные в стране и за рубежом ученые - доктора экономических наук, профессора Ростанец В.Г., Магомедов Ш.М., Зворыкина Т.И., Рождественская И.А., Зиядуллаев Н.С., Мазанова М.Б., Чистяков Е.Г., Петросян Д.С. На постоянной основе ИРЭИ сотрудничает с целым рядом известных российских ученых-экономистов - Лексиным В.Н., Кирилловой А.Н., Качаловым Р.М., Топилиным А.В, Чепурных Н.В., Новоселовым А.Л.
        
        
        В последнее время институтом выпущен ряд фундаментальных научных трудов по вопросам экономического развития крупных городов, мегаполисов и регионов - Основы   экономики столичного мегаполиса. М.: Экономика, 2006.; Основы экономики крупного города. М.: Экономика, 2009; Производственные зоны крупных городов России: механизмы регулирования развития. М.: Альфа-Доминанта, 2005.; Инфраструктура межрегионального экономического сотрудничества и императивы инновационного развития. М.: Экономика, 2009.
        
        
        ИРЭИ является базовым институтом Российской Академии Естественных Наук, с которой налажено тесное всестороннее взаимодействие. Директор института профессор Бурак П.И. избран вице-президентом Академии. Институт сотрудничает с РАЕН в издании научного журнала «Вестник Российской академии естественных наук (серия экономическая), включенный в перечень ведущих рецензируемых научных изданий ВАК РФ. Одновременно, ИРЭИ более десяти лет выпускает ежегодный сборник научных трудов «Проблемы теории и практики реформирования региональной экономики».
        
        
        В Институте функционирует диссертационный совет по защите диссертаций на соискание ученой степени доктора и кандидата экономических наук по специальности 08.00.05 «Экономика и управление народным хозяйством (региональная экономика; экономика, организация и управление предприятиями, отраслями, комплексами: промышленность)» и аспирантура по указанным специальностям, ведущие работу по подготовке кадров высшей квалификации для регионов страны.
        
        
        По итогам своей деятельности коллектив ИРЭИ награжден Почетной грамотой Мосгордумы, Грамотой Муниципальной Академии Российской Федерации, имеет благодарность от Министерства РФ по налогам и сборам.</p>
</div>

{% endblock %}