{% extends 'base_generic.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="main-news">
    <div class="main-title">Наши новости</div>
    {% for new in news_list %}
        <div class="news-item">
            <h2>{{ new.title }}</h2>
            <p>{{ new.date|date:"d.m.Y" }}</p>
            <img src="{{ new.photo }}" alt="News Photo">
            <p>{{ new.short_text }}</p>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}